/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  
}

h1 {
  font-family: 'Nerko One', cursive;
  color: #593F28;
  text-shadow: 2px 4px 4px #F2BF80;
  
}

ol{
  text-align: left;
}

.jumbotron {
  background-color: #87c8e6;
}

.progress{
  width: 75%;
  margin: auto 12.5%;
}

.btn{
  background-color: #87c8e6;
  color: #ffffff;
}

.btn:hover{
  background-color: #48abd9;
  color: #ffffff;

}

#health{
  background-color: #28a745;
}

#time{
   background-color: #ffffff;
  color: #48abd9;
  border-color: #48abd9;
}
