/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  
}

h1 {
  font-family: 'Nerko One', cursive;
  color: #593F28;
}

.jumbotron {
  background-color: #87c8e6;
}

.progress{
  width: 75%;
  margin: auto 12.5%;
}
